@model IEnumerable<Booking.Core.Entities.GymClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="createajax"></div>

<p>
    <a asp-action="Create">Create New original</a>
</p>
<p>
    <a asp-action="Create" class="btn btn btn-outline-dark"
     data-ajax="true"
     data-ajax-method="GET"
     data-ajax-update="#createajax"
     data-ajax-mode="replace"

    >Create New Jquery Ajax</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="GymClassesPartial" />
    </tbody>
</table>
